$background-color: #092756;
$white: #fff;

.login_page{
  height: 100%;
  color: $white;
  background: $background-color;

  background:
  -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),
  -moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
  -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  
  background:
  -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),
  -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),
  -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
}

.login_page{
  &__box{
    padding: 5em 7em 1em 7em;
    border-radius: 4px;
    margin: 3em 0 1em 0;
  }
  &__title{
    margin-bottom: 40px;
  }

  input{
    background: rgba(0,0,0,0.3);
    border: 0px solid transparent;
    color: #fff;
  }
}
